[submodule "external/RTLLM"]
	path = external/RTLLM
	url = git@github.com:hkust-zhiyao/RTLLM.git
	ignore = all
[submodule "external/RTL-OPT"]
	path = external/RTL-OPT
	url = git@github.com:ryanvoecks/rtl-opt-mirror.git
	ignore = all
[submodule "external/aes"]
	path = external/aes
	url = git@github.com:secworks/aes.git
	ignore = all
[submodule "external/double_fpu"]
	path = external/double_fpu
	url = git@github.com:klyone/opencores-ip.git
	branch = arithmetic_core_double_fpu_verilog
	shallow = true
	ignore = all
