[submodule "external/aes"]
	path = external/aes
	url = git@github.com:secworks/aes.git
	ignore = all
[submodule "external/double_fpu"]
	path = external/double_fpu
	url = git@github.com:klyone/opencores-ip.git
	branch = arithmetic_core_double_fpu_verilog
	shallow = true
	ignore = all
[submodule "external/reed_solomon"]
	path = external/reed_solomon
	url = git@github.com:klyone/opencores-ip.git
	branch = ecc_core_reed-solomon_codec_generator
	shallow = true
	ignore = all
